<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mission Prep Question</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/webFormStyles.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>f
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <style>
        body {
            background-color: cadetblue;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #f7e6ff">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ask a Missionary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Missions", "Missions", "FAQ")
                    </li>
                    <li>
                        @Html.ActionLink("About Us", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <p style="text-align:center;">&copy; @DateTime.Now.Year - The Church of Jesus Christ of Latter-Day Saints</p>

        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
<!--

2. Create a login page which allows a user to login with an email address and password. 
    This view will also have a link that will allow them to create a new account/user. 
    Once that account is created they are automatically logged in. 
    You will not have to worry about maintaining the account once it is created. 
    You will use a lookup(find) to the User table to authenticate the user.

3. Add authentication rules to implement the following logic:
    The user must be logged in to view the FAQ page.  
    If an unauthorized user tries to access the FAQ page redirect them to the Login page. 
    Users that are not authenticated can still see the mission view, they just can't get to the FAQ view to review questions and add questions

4. Once in the FAQ page, add functionality so the user can post a question or reply to a question.  These should be saved to the MissionQuestions table. Once the question is posted, the question cannot be deleted or edited. However, the answer can be changed over and over again (similar to a wiki) by any authorized user. You will store the latest answer inputted (there is only 1 answer per question).

5. Schedule a time to meet with TAs for grading.-->
