@model Project1Git.Models.Mission

@{
    ViewBag.Title = "Missions";
}

<h2 style="text-align:center;">
    Mission Information
</h2>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Missions", "Missions", "FAQ")</li>
    <li>
        Frequently Asked Questions
    </li>
</ul>
<div class="row">
    @{
        if (Model.missionName == "California Long Beach")
        {
            <div class="col-lg-5">
                <div class="container" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
                    <p style="margin-top: 15px;">
                        <ul>
                            <li>Mission Name:@Html.DisplayFor(model => model.missionName)</li>
                            <li>Mission President's Name: @Html.DisplayFor(model => model.missionPresidentName)</li>
                            <li>Mission Address: @Html.DisplayFor(model => model.missionAddress)</li>
                            <li>Mission Language: @Html.DisplayFor(model => model.Language)</li>
                            <li>Mission Climate: @Html.DisplayFor(model => model.Climate)</li>
                            <li>Mission Dominate Religion: @Html.DisplayFor(model => model.DominateReligion)</li>
                        </ul>

                    </p>
                </div>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-6">
                <img src="~/Content/Images/California.png" class="center" style="width: 80%; border-radius: 25px; height: 250px;" />
            </div>

        }
        else if (Model.missionName == "France Lyon")
        {
            <div class="col-lg-5">
                <div class="container" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
                    <p style="margin-top: 15px;">
                        <ul>
                            <li>Mission Name:@Html.DisplayFor(model => model.missionName)</li>
                            <li>Mission President's Name: @Html.DisplayFor(model => model.missionPresidentName)</li>
                            <li>Mission Address: @Html.DisplayFor(model => model.missionAddress)</li>
                            <li>Mission Language: @Html.DisplayFor(model => model.Language)</li>
                            <li>Mission Climate: @Html.DisplayFor(model => model.Climate)</li>
                            <li>Mission Dominate Religion: @Html.DisplayFor(model => model.DominateReligion)</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-6">
                <img src="~/Content/Images/France.png" class="center" style="width: 80%; border-radius: 25px; height: 250px;" />
            </div>

        }
        else if (Model.missionName == "Canada Calgary")
        {
            <div class="col-lg-5">
                <div class="container" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
                    <p style="margin-top: 15px;">
                        <ul>
                            <li>Mission Name:@Html.DisplayFor(model => model.missionName)</li>
                            <li>Mission President's Name: @Html.DisplayFor(model => model.missionPresidentName)</li>
                            <li>Mission Address: @Html.DisplayFor(model => model.missionAddress)</li>
                            <li>Mission Language: @Html.DisplayFor(model => model.Language)</li>
                            <li>Mission Climate: @Html.DisplayFor(model => model.Climate)</li>
                            <li>Mission Dominate Religion: @Html.DisplayFor(model => model.DominateReligion)</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-6">
                <img src="~/Content/Images/Canada.png" class="center" style="width: 80%; border-radius: 25px; height: 250px;" />
            </div>
        }
        else
        {
            <p>No mission selected</p>
        }
    }
</div>
<br />
<br />
<br />
<br />
<br />

<hr />

<div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
        <p align="justify">
            <strong>See all questions:</strong>
            <a href="@Url.Action("ViewQuestions", new {id = Model.missionID })">
                <input type="button" value="View Questions" class="btn btn-default" />
            </a>
        </p>
    </div>
    <div class="col-lg-4">

    </div>
</div>
<br />

