@model IEnumerable<Project1Git.Models.MissionQuestion>
@{
    ViewBag.Title = "ViewQuestions";
}

<h2>View Questions</h2>

<p>
    @Html.ActionLink("Ask your own", "Create", "MissionQuestions", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "MissionQuestions", new { id = item.missionquestionID }) 
            </td>
        </tr>
    }

</table>
