
@{
    ViewBag.Title = "Home";
}

<h2 style="text-align:center;">Home</h2>
<div class="row">
    <div class="col-md-4">
        <h3 style="text-align: center;">
            President Harold B. Lee: <br />
            <i>
                “The most important of the Lord’s work you will ever do will be within the walls of your own homes.”
            </i>
        </h3>
    </div>
    <div class="col-md-4">
        <div class="jumbotron" style="text-align:center;">
            <input type="button" value="Click to Ask a Question!" class="btn btn-lg btn-default" />
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://www.missionarymall.org">
                <h3 style="text-align:center; color: black;">
                    Mission Shopping
                </h3>
                <img src="@Url.Content("~/Content/Images/Suit.jpg")" alt="Suits" style="width:100%; height:175px; border-radius: 25px;" />
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://www.lds.org/scriptures/tg/missionary-work?lang=eng">
                <h3 style="text-align:center; color: black;">
                    Missionary Scriptures
                </h3>
                <img src="@Url.Content("~/Content/Images/Scriptures.jpg")" alt="Scriptures" style="width:100%; height:175px; border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://www.familysearch.org">
                <h3 style="text-align:center; color: black;">
                    Temple Work
                </h3>
                <img src="@Url.Content("~/Content/Images/Temple.jpg")" alt="Temple" style="width:100%; height:175px;  border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://www.lds.org/callings/missionary/dress-grooming?lang=eng">
                <h3 style="text-align:center; color: black;">
                    Dress & Grooming
                </h3>
                <img src="@Url.Content("~/Content/Images/DressGrooming.jpg")" alt="Suit" style="width:100%; height:175px; border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://youtu.be/ckLqfX62u_I">
                <h3 style="text-align:center; color: black;">
                    Missionary Parody
                </h3>
                <img src="@Url.Content("~/Content/Images/Adele.png")" alt="Missionary" style="width:100%; height:175px; border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://youtu.be/TtJrZkWbRDg">
                <h3 style="text-align:center; color: black;">
                    Coming Home Early
                </h3>
                <img src="@Url.Content("~/Content/Images/ComingHomeEarly.jpg")" alt="Man" style="width:100%; height:175px; border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://welcome.babbel.com/en/circular-flags-reviews/?bsc=bsbr_eng_us&btp=default&msclkid=75de3c09ea9d166ce26f67e3f6fa832a&utm_campaign=BG_BR_SRH_ct_ENGALL_gEN_cUS_bp&utm_content=ENGALL_babel+com_BP&utm_medium=cpc&utm_source=bing&utm_term=babel.com
">
                <h3 style="text-align:center; color: black;">
                    Learning a Language
                </h3>
                <img src="@Url.Content("~/Content/Images/Language.jpg")" alt="Suits" style="width:100%; height:175px; border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="https://www.lds.org/manual/preach-my-gospel-a-guide-to-missionary-service?lang=eng">
                <h3 style="text-align:center; color: black;">
                    Preach My Gospel
                </h3>
                <img src="@Url.Content("~/Content/Images/Missionaries.jpg")" alt="Scriptures" style="width:100%; height:175px; border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container ContentCenter" style="border-style: solid; border-width: 5px; border-radius: 25px; height: 250px;">
            <a href="http://www.dearelder.com/index/inc_name/package_area">
                <h3 style="text-align:center; color: black;">
                    Send a Package
                </h3>
                <img src="@Url.Content("~/Content/Images/Packages.jpg")" alt="Mission" style="width:100%; height:175px; border-radius: 25px;" />
                <p></p>
            </a>
        </div>
    </div> 
</div>
<br />
<br />