@model IEnumerable<Project1Git.Models.Mission>

@{ 
    ViewBag.Title = "Select Mission";
}

<h2>Select Mission to Ask Question</h2>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>
        Submit Question
    </li>
</ul>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.missionName)
        </th>
        <th>
            Ask Question
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.missionName)
        </td>
        <td>
            <a href="@Url.Action("AskQuestion", "Home", new { id = item.missionID })">
            <input type="button" value="Click to Ask!" class="btn btn-default" />
            </a>
        </td>
    </tr>
        
    }

</table>


<p>
    Dont't see your mission?
    <a href="@Url.Action("NewMission", "Home")">
        <input type="button" value="Enter new Mission" class="btn btn-default" />
    </a>
</p>


